@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

html {
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
}